<!-- <table *ngIf="bateries" class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Ondas</th>
    <th scope="col">Vencedor</th>
  </thead>
  <tbody>
    <tr *ngFor="let bat of bateries">
      <th scope="row">{{ bat.id }}</th>
      <td>Waves</td>
      <td>{{ bat.winner }}</td>
    </tr>
  </tbody>
</table> -->
<div class="container-fluid" *ngIf="bateries">
  <div *ngFor="let bat of bateries" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Bateria {{ bat.id }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Vencedor: {{ bat.winner }}</h6>
      <p *ngFor="let wave of bat.waves" class="card-text">
          Participantes: {{ wave.surfists }}
      </p>
    </div>
  </div>
</div>
