<table *ngIf="surfists" class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">Pontos</th>
  </thead>
  <tbody>
    <tr *ngFor="let surf of surfists">
      <th scope="row">{{ surf.id }}</th>
      <td>{{ surf.name }}</td>
      <td>{{ surf.points }}</td>
    </tr>
  </tbody>
</table>

<form>
  <div class="form-group">
    <label for="surfistName">Cadastre um novo surfista:</label>
    <input type="text" class="form-control" id="surfistName" placeholder="Escreva o nome">
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
